@font-face {
  font-family: 'Hind';
  src: url('../../../assets/fonts/Hind-Light/Hind-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Hind';
  src: url('../../../assets/fonts/Hind-Medium/Hind-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Hind';
  src: url('../../../assets/fonts/Hind-Regular/Hind-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../../assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../../assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'MrsSaintDelafield';
  src: url('../../../assets/fonts/MrsSaintDelafield-Regular/MrsSaintDelafield-Regular.woff') format('woff');
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
html {
  font-family: Hind-Regular, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  min-width: 320px;
  position: relative;
  background: #f9f9fb;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: auto;
}
.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}
[class*='col-'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.flex-container > [class*='col-']:last-child {
  margin-right: auto;
}
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.column-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 575px) {
  .col-1 {
    -ms-flex-preferred-size: 8.333333%;
    flex-basis: 8.333333%;
  }
  .col-offset-1 {
    margin-left: 8.333333%;
  }
  .hidden {
    display: none !important;
  }
  .col-2 {
    -ms-flex-preferred-size: 16.666666%;
    flex-basis: 16.666666%;
  }
  .col-offset-2 {
    margin-left: 16.666666%;
  }
  .hidden {
    display: none !important;
  }
  .col-3 {
    -ms-flex-preferred-size: 24.999999%;
    flex-basis: 24.999999%;
  }
  .col-offset-3 {
    margin-left: 24.999999%;
  }
  .hidden {
    display: none !important;
  }
  .col-4 {
    -ms-flex-preferred-size: 33.333332%;
    flex-basis: 33.333332%;
  }
  .col-offset-4 {
    margin-left: 33.333332%;
  }
  .hidden {
    display: none !important;
  }
  .col-5 {
    -ms-flex-preferred-size: 41.666664999999995%;
    flex-basis: 41.666664999999995%;
  }
  .col-offset-5 {
    margin-left: 41.666664999999995%;
  }
  .hidden {
    display: none !important;
  }
  .col-6 {
    -ms-flex-preferred-size: 49.999998%;
    flex-basis: 49.999998%;
  }
  .col-offset-6 {
    margin-left: 49.999998%;
  }
  .hidden {
    display: none !important;
  }
  .col-7 {
    -ms-flex-preferred-size: 58.333331%;
    flex-basis: 58.333331%;
  }
  .col-offset-7 {
    margin-left: 58.333331%;
  }
  .hidden {
    display: none !important;
  }
  .col-8 {
    -ms-flex-preferred-size: 66.666664%;
    flex-basis: 66.666664%;
  }
  .col-offset-8 {
    margin-left: 66.666664%;
  }
  .hidden {
    display: none !important;
  }
  .col-9 {
    -ms-flex-preferred-size: 74.999997%;
    flex-basis: 74.999997%;
  }
  .col-offset-9 {
    margin-left: 74.999997%;
  }
  .hidden {
    display: none !important;
  }
  .col-10 {
    -ms-flex-preferred-size: 83.33332999999999%;
    flex-basis: 83.33332999999999%;
  }
  .col-offset-10 {
    margin-left: 83.33332999999999%;
  }
  .hidden {
    display: none !important;
  }
  .col-11 {
    -ms-flex-preferred-size: 91.666663%;
    flex-basis: 91.666663%;
  }
  .col-offset-11 {
    margin-left: 91.666663%;
  }
  .hidden {
    display: none !important;
  }
  .col-12 {
    -ms-flex-preferred-size: 99.999996%;
    flex-basis: 99.999996%;
  }
  .col-offset-12 {
    margin-left: 99.999996%;
  }
  .hidden {
    display: none !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333333%;
    flex-basis: 8.333333%;
  }
  .col-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.666666%;
    flex-basis: 16.666666%;
  }
  .col-offset-sm-2 {
    margin-left: 16.666666%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 24.999999%;
    flex-basis: 24.999999%;
  }
  .col-offset-sm-3 {
    margin-left: 24.999999%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333332%;
    flex-basis: 33.333332%;
  }
  .col-offset-sm-4 {
    margin-left: 33.333332%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.666664999999995%;
    flex-basis: 41.666664999999995%;
  }
  .col-offset-sm-5 {
    margin-left: 41.666664999999995%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 49.999998%;
    flex-basis: 49.999998%;
  }
  .col-offset-sm-6 {
    margin-left: 49.999998%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333331%;
    flex-basis: 58.333331%;
  }
  .col-offset-sm-7 {
    margin-left: 58.333331%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.666664%;
    flex-basis: 66.666664%;
  }
  .col-offset-sm-8 {
    margin-left: 66.666664%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 74.999997%;
    flex-basis: 74.999997%;
  }
  .col-offset-sm-9 {
    margin-left: 74.999997%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33332999999999%;
    flex-basis: 83.33332999999999%;
  }
  .col-offset-sm-10 {
    margin-left: 83.33332999999999%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.666663%;
    flex-basis: 91.666663%;
  }
  .col-offset-sm-11 {
    margin-left: 91.666663%;
  }
  .sm-hidden {
    display: none !important;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 99.999996%;
    flex-basis: 99.999996%;
  }
  .col-offset-sm-12 {
    margin-left: 99.999996%;
  }
  .sm-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.333333%;
    flex-basis: 8.333333%;
  }
  .col-offset-md-1 {
    margin-left: 8.333333%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.666666%;
    flex-basis: 16.666666%;
  }
  .col-offset-md-2 {
    margin-left: 16.666666%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 24.999999%;
    flex-basis: 24.999999%;
  }
  .col-offset-md-3 {
    margin-left: 24.999999%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333332%;
    flex-basis: 33.333332%;
  }
  .col-offset-md-4 {
    margin-left: 33.333332%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.666664999999995%;
    flex-basis: 41.666664999999995%;
  }
  .col-offset-md-5 {
    margin-left: 41.666664999999995%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 49.999998%;
    flex-basis: 49.999998%;
  }
  .col-offset-md-6 {
    margin-left: 49.999998%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333331%;
    flex-basis: 58.333331%;
  }
  .col-offset-md-7 {
    margin-left: 58.333331%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.666664%;
    flex-basis: 66.666664%;
  }
  .col-offset-md-8 {
    margin-left: 66.666664%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 74.999997%;
    flex-basis: 74.999997%;
  }
  .col-offset-md-9 {
    margin-left: 74.999997%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33332999999999%;
    flex-basis: 83.33332999999999%;
  }
  .col-offset-md-10 {
    margin-left: 83.33332999999999%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.666663%;
    flex-basis: 91.666663%;
  }
  .col-offset-md-11 {
    margin-left: 91.666663%;
  }
  .md-hidden {
    display: none;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 99.999996%;
    flex-basis: 99.999996%;
  }
  .col-offset-md-12 {
    margin-left: 99.999996%;
  }
  .md-hidden {
    display: none;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333333%;
    flex-basis: 8.333333%;
  }
  .col-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.666666%;
    flex-basis: 16.666666%;
  }
  .col-offset-lg-2 {
    margin-left: 16.666666%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 24.999999%;
    flex-basis: 24.999999%;
  }
  .col-offset-lg-3 {
    margin-left: 24.999999%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333332%;
    flex-basis: 33.333332%;
  }
  .col-offset-lg-4 {
    margin-left: 33.333332%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.666664999999995%;
    flex-basis: 41.666664999999995%;
  }
  .col-offset-lg-5 {
    margin-left: 41.666664999999995%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 49.999998%;
    flex-basis: 49.999998%;
  }
  .col-offset-lg-6 {
    margin-left: 49.999998%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333331%;
    flex-basis: 58.333331%;
  }
  .col-offset-lg-7 {
    margin-left: 58.333331%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.666664%;
    flex-basis: 66.666664%;
  }
  .col-offset-lg-8 {
    margin-left: 66.666664%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 74.999997%;
    flex-basis: 74.999997%;
  }
  .col-offset-lg-9 {
    margin-left: 74.999997%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33332999999999%;
    flex-basis: 83.33332999999999%;
  }
  .col-offset-lg-10 {
    margin-left: 83.33332999999999%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.666663%;
    flex-basis: 91.666663%;
  }
  .col-offset-lg-11 {
    margin-left: 91.666663%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 99.999996%;
    flex-basis: 99.999996%;
  }
  .col-offset-lg-12 {
    margin-left: 99.999996%;
  }
  .pull-lg-left {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
  }
  .lg-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 1201px) {
  .col-xl-1 {
    -ms-flex-preferred-size: 8.333333%;
    flex-basis: 8.333333%;
  }
  .col-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.666666%;
    flex-basis: 16.666666%;
  }
  .col-offset-xl-2 {
    margin-left: 16.666666%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-3 {
    -ms-flex-preferred-size: 24.999999%;
    flex-basis: 24.999999%;
  }
  .col-offset-xl-3 {
    margin-left: 24.999999%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.333332%;
    flex-basis: 33.333332%;
  }
  .col-offset-xl-4 {
    margin-left: 33.333332%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.666664999999995%;
    flex-basis: 41.666664999999995%;
  }
  .col-offset-xl-5 {
    margin-left: 41.666664999999995%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-6 {
    -ms-flex-preferred-size: 49.999998%;
    flex-basis: 49.999998%;
  }
  .col-offset-xl-6 {
    margin-left: 49.999998%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.333331%;
    flex-basis: 58.333331%;
  }
  .col-offset-xl-7 {
    margin-left: 58.333331%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.666664%;
    flex-basis: 66.666664%;
  }
  .col-offset-xl-8 {
    margin-left: 66.666664%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-9 {
    -ms-flex-preferred-size: 74.999997%;
    flex-basis: 74.999997%;
  }
  .col-offset-xl-9 {
    margin-left: 74.999997%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33332999999999%;
    flex-basis: 83.33332999999999%;
  }
  .col-offset-xl-10 {
    margin-left: 83.33332999999999%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.666663%;
    flex-basis: 91.666663%;
  }
  .col-offset-xl-11 {
    margin-left: 91.666663%;
  }
  .xl-hidden {
    display: none !important;
  }
  .col-xl-12 {
    -ms-flex-preferred-size: 99.999996%;
    flex-basis: 99.999996%;
  }
  .col-offset-xl-12 {
    margin-left: 99.999996%;
  }
  .xl-hidden {
    display: none !important;
  }
}
@font-face {
  font-family: 'fontello';
  src: url('../../../assets/fonts/fontello/fontello.eot?24128822');
  src: url('../../../assets/fonts/fontello/fontello.eot?24128822#iefix') format('embedded-opentype'), url('../../../assets/fonts/fontello/fontello.woff2?24128822') format('woff2'), url('../../../assets/fonts/fontello/fontello.woff?24128822') format('woff'), url('../../../assets/fonts/fontello/fontello.ttf?24128822') format('truetype'), url('../../../assets/fonts/fontello/fontello.svg?24128822#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../../assets/fonts/fontello/fontello.svg?24128822#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-home:before {
  content: '\e800';
}
/* '' */
.icon-globe:before {
  content: '\e801';
}
/* '' */
.icon-mail:before {
  content: '\e802';
}
/* '' */
.icon-search:before {
  content: '\e803';
}
/* '' */
.icon-user:before {
  content: '\e804';
}
/* '' */
.icon-calendar:before {
  content: '\e805';
}
/* '' */
.icon-tags:before {
  content: '\e806';
}
/* '' */
.icon-heart-empty:before {
  content: '\e807';
}
/* '' */
.icon-star:before {
  content: '\e808';
}
/* '' */
.icon-heart:before {
  content: '\e809';
}
/* '' */
.icon-clock:before {
  content: '\e80a';
}
/* '' */
.icon-export:before {
  content: '\e80b';
}
/* '' */
.icon-pencil:before {
  content: '\e80c';
}
/* '' */
.icon-music:before {
  content: '\e80d';
}
/* '' */
.icon-picture-outline:before {
  content: '\e80e';
}
/* '' */
.icon-menu:before {
  content: '\f008';
}
/* '' */
.icon-twitter:before {
  content: '\f099';
}
/* '' */
.icon-facebook:before {
  content: '\f09a';
}
/* '' */
.icon-rss:before {
  content: '\f09e';
}
/* '' */
.icon-pinterest-circled:before {
  content: '\f0d2';
}
/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}
/* '' */
.icon-chat-empty:before {
  content: '\f0e6';
}
/* '' */
.icon-quote-left:before {
  content: '\f10d';
}
/* '' */
.icon-tumblr:before {
  content: '\f173';
}
/* '' */
.icon-down:before {
  content: '\f175';
}
/* '' */
.icon-up:before {
  content: '\f176';
}
/* '' */
.icon-left:before {
  content: '\f177';
}
/* '' */
.icon-right:before {
  content: '\f178';
}
/* '' */
.icon-dribbble:before {
  content: '\f17d';
}
/* '' */
.icon-soundcloud:before {
  content: '\f1be';
}
/* '' */
.icon-paper-plane:before {
  content: '\f1d8';
}
/* '' */
.icon-pinterest:before {
  content: '\f231';
}
/* '' */
.error {
  width: 100%;
}
.error__heading {
  position: relative;
  text-align: center;
}
.error__heading-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18.75rem;
  color: #363636;
}
